h1{

    font-size: 100px;
    text-align: center;
    background-color: red;
    margin: 20;
    border-radius: 20px;
    padding: 20px;

}
.img{
    text-align: center;
    margin: 20px;
    
}
img{

    border-radius: 200px;
}
h2{
font-size: 50px;
text-align: center;
text-emphasis: bold ;
b
}
body{

    background-color: #E6DDC6;

}


a{
    color: blue;
      text-decoration: none;
      font-size: 30px;
    }

    p{
        font-size: 20px;
        margin: 50px;
    }

    .x1{
        font-size: 20px;
        color: red;


    }
    h3{
        margin-left: 20px;
        font-size: 30px;
    }
    